*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
 font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-family: 'Montserrat', sans-serif;
 background-color: #f5f5f5;
}

h1,h2,h3{
  font-family: 'Anton', sans-serif;
  font-family: 'Trade Winds', cursive;
}